/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
//@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
//@import 'components/components';
@import 'styles/style';

body.open {
  overflow: hidden;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(250px, 0);
          transform: translate(250px, 0);
}

 .logo {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  float: none;
  max-width: none;
  font-weight: 300;
  display: initial;
}

 .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}

.app-bar button {
  width: 60px;
  height: 60px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  height: 24px;
  width: 24px;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

// .base,
// p,
// ul,
// ol {
//   font-size: 19px;
// }

.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  @include sm {
  background-color: $color-1;
  }
  color: #fefefe;
  -webkit-transform: translate(-250px, 0);
          transform: translate(-250px, 0);
  overflow-y: auto;
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.app-bar,
.navdrawer-container.opened,
main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: 60px;
  padding: 17px 20px;
  line-height: 1.4;
}

// .navdrawer-container h3 {
//   background-color: white;
//   color: #3367D6;
// }

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li {
  // border-bottom-style: solid;
  // border-width: 1px;
  // border-color: white;
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  // margin: 0 auto;
  // /* Height of the header */
  // padding: 60px 16px 16px 16px;
  // min-height: 100%;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  .app-bar {
    position: relative;
  }

  .app-bar.open,
  .app-bar.open ~ main {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }

  .app-bar-container {
    display: block;
    height: 130px;
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #4285f4;
  }

 .logo {
    float: left;
    margin: 0;
    padding: 0;
    // line-height: 130px;
    // font-size: 46px;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  .navdrawer-container {
    position: relative;
    position: absolute;
    width: 100%;
    height: auto;
height: 90px;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
            transition: none;
    overflow-y: auto;
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 864px;
    margin-left: auto;
    margin-right: $space-3;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
  }

  // main {
  //   max-width: 864px;
  //   padding-top: 0;
  //   min-height: initial;
  // }

  // body {
  //   overflow-y: scroll;
  // }
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}


/**
 * Houdini v6.5.0
 * A simple collapse-and-expand script., by Chris Ferdinandi.
 * http://github.com/cferdinandi/houdini
 *
 * Free to use under the MIT License.
 * http://gomakethings.com/mit/
 */

/*  Hide the collapse and expand link or button by default */
/* line 2, ../components/_houdini.scss */
.collapse-toggle {
  display: none;
  visibility: hidden;
}

/*  If JavaScript is enabled, show the collapse and expand link or button */
/* line 8, ../components/_houdini.scss */
.js-houdini .collapse-toggle {
  display: inline-block;
  visibility: visible;
  cursor: pointer;
}

/*  When expanded, hide "show" text.
 *  When collapsed, hide "hide" text. */
/* line 16, ../components/_houdini.scss */
.active .collapse-text-show,
.collapse-text-hide {
  display: none;
  visibility: hidden;
}

/*  When expanded, show "hide" text. */
/* line 23, ../components/_houdini.scss */
.active .collapse-text-hide {
  display: inline;
  visibility: visible;
}

/* If JavaScript is enabled, hide the collapsed element */
/* line 29, ../components/_houdini.scss */
.js-houdini .collapse {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  /*  Add animation when content expands and collapses */
  -webkit-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}

/*  When collapsed element has the .active class, show it
 *  Uses max-height instead of display: none to allow for
 *  CSS3 animations, which don't work on display values. */
/* line 40, ../components/_houdini.scss */
.js-houdini .collapse.active {
  max-height: 9999em;
  opacity: 1;
}







// MY STYLES
.u-1\/1\@sm {
  @include sm {
    width: 100%;
  }
}
.container {
  @include sm{
  //margin-top: 60px;
}
}
.card-row {
    letter-spacing: -0.31em;
    > * {
            letter-spacing: normal;
    word-spacing: normal;
    }
}

.animated {
    animation-duration: 1s;
}

.logo img {
  max-height: 70px;
  max-width: 65px;
}

.collapse-toggle img {
  width: 90px;
}

.js-houdini .collapse {
  padding: 0;
}

.js-houdini .collapse.active {
  // position: absolute;
  // top: 0;
  padding: 40px;
}

.collapse-toggle img {
  opacity: 0.5;
}

.collapse-toggle:hover, .collapse-toggle.active img {
  opacity: 1;
  text-decoration: none;
}

//
// .collapse-toggle.active {
//   &:after {
//   content: "";
//   margin-left: 0.3em;
//   display: inline-block;
//   height: 0;
//   width: 0;
//   -webkit-transform: rotate(360deg);
//   border-width: 0.75em 0.775em;
//   border-style: solid;
//   border-color: transparent;
//   border-top-color: $silver;
//   border-bottom-width: 0;
//   margin-bottom: -34px;
//   position: relative;
//     z-index: 1;
// }
// }

.collapse-toggle.active {
  // border-bottom: 3px solid $lighten-4;
  // margin-bottom: -3px;
  z-index: 1;
  //box-shadow: 0px 5px 0px 0px rgba(255, 255, 255, 0.9);
}

.section-first {
    padding-top: 120px;
    margin-top: -60px;
}

svg.toggle-icon {
  width: 90px;
  max-height: 90px;
  padding-top: 10px;
}

// .card__figure img {
//   backface-visibility: hidden;
// }


// .collapse-toggle {
//     opacity: .6;
//     background-color: rgb(53, 53, 154);
//     width: 270px;
//     height: 270px;
//     display: block!important;
//     float: left;
// }

.u-tile {
    min-width: 300px;
    //width: 100%;
    //height: 200px;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),opacity .2s cubic-bezier(.4,0,.2,1);
    opacity: $opacity;
    vertical-align: middle;
    border: 10px solid #404040;
    border-radius: 2px;
    margin-bottom: $space-2;
    padding: $space-3;

    &.active {
        opacity: 1;
    }
}

.u-tile-sm {
    max-width: 150px;
    height: 150px;
}

.u-tile-lg {
    //max-width: 250px;
    //height: 250px;
}

@include md {

    .u-tile\@md {
        max-width: 200px;
        height: 200px;
    }

    .u-tile-sm\@md {
        max-width: 150px;
        height: 150px;
    }

    .u-tile-lg\@md {
        max-width: 250px;
        height: 250px;
    }
}

@include lg {

    .u-tile\@lg {
        max-width: 200px;
        height: 200px;
    }

    .u-tile-sm\@lg {
        max-width: 150px;
        height: 150px;
    }

    .u-tile-lg\@lg {
        max-width: 250px;
        height: 250px;
    }
}

svg.toggle-icon {
    //margin-top: 25%;
}


.u-tile--wide {
    //max-width: 400px;
}


.flex .collapse-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
